.log-in {
    font-size: 18px ;
    line-height: 26px;
    font-weight: 600 ;
    color: #343538 ;
    margin: 0 22px;
    float: right;
  }
  
  .sign-up {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    background-color: #0AAD0A;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    float: right;
  }